// Define the mixin
@mixin set-margin($left, $right) {
  margin-left: $left;
  margin-right: $right;
}

// Use the mixin for each tag
body {
  @include set-margin(10px, 10px);
}

div {
  @include set-margin(15px, 15px);
}
